@charset "utf-8";
/* CSS Document */


#taskGenerator, .taskGenerator{
	padding:0px;
	background:rgba(255,255,255,0);
	font-size:3.5em;
	
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
#taskGenerator:hover{
	cursor:move;
}

#tasksArea { 
	float: left; 
	width: 890px; 
	height: 500px;
	min-height: 12em; 
	/*border: 1px solid #000;*/
	
	padding:10px;
}

.taskEditWrapper{
	text-align:right;
	font-size:0.5em;
	padding:0px 5px;
}

.subTaskSortable{
	text-align:left;
	list-style-type:none;
	-webkit-padding-start: 0px;
	display:block;
	padding-top: 10px;
}

.subTasks, .sortablePlaceHolder{
	list-style: none;
	padding:5px 10px;
	background:#ccc;
	list-style-position: inside;  
	margin: 0 3px 3px 3px;
	
	font-size:0.83em;
	font-family:"Lato", "Helvetica", serif;
	font-weight:bold;
}
.editTask{
	color:#444;
}
.addSubTaskBtn{
	color:#444;
	padding: 1px 2px 1px 7px;
}
.editTask:hover, .addSubTaskBtn:hover{
	color:#000;
	cursor:pointer;
}

.sortablePlaceHolder {
	background:#DDD;
	display:block;
	height:10px;
	
}

.addSubTaskBtn:hover {
	cursor:pointer;
}

.tasks { 
	float: left; 
	width: 190px; 
	padding: 5px; 
	margin: 0 0.4em 0.4em 0; 
	text-align: center; 
	list-style:none;
	margin-bottom:10px;
}

.taskTitle{
	width:150px; 
	float:left;
	font-size:1em;
}
.tasks h5 { margin: 0 0 0.4em; cursor: move; }
.tasks a { float: right; }
.tasks a.ui-icon-zoomin { float: left; }
.tasks img { width: 100%; cursor: move; }

.editTask{
	margin-left:5px;
}

.editTask:hover{
	cursor: pointer;
}